Repository ahonn/tauri-plugin-posthog: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, guest-js-build

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: Check Rust formatting
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: Run clippy lints (all targets)
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: Run tests (quick check)
        entry: cargo test --lib --all-features
        language: system
        types: [rust]
        pass_filenames: false

      - id: guest-js-build
        name: Build guest-js TypeScript
        entry: bash -c 'cd guest-js && pnpm install && pnpm build'
        language: system
        files: ^guest-js/
        pass_filenames: false

feat: add PostHog analytics plugin for Tauri v2
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: improve TypeScript interfaces and error handling
  guest-js/index.ts
  src/client.rs
Due: cargo-fmt, cargo-clippy, cargo-test, guest-js-build

fix: simplify CI workflow and add missing glib dependency
  .github/workflows/test.yml
Due: none

fix: correct release-plz configuration format
  release-plz.toml
Due: none

fix: improve GitHub Actions workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

fix: add system dependencies to test workflow
  .github/workflows/test.yml
Due: none

docs: update README
  Cargo.toml
  README.md
  package.json
Due: none

fix: add license to Cargo.toml
  Cargo.toml
Due: none

fix: update tauri version
  Cargo.toml
Due: none

ci: update release workflow
  .github/workflows/release.yml
Due: none

ci: install system dependencies
  .github/workflows/release.yml
Due: none

feat: implement hybrid architecture with PostHog JS SDK integration
  examples/tauri-app/.env.example
  examples/tauri-app/README.md
  examples/tauri-app/pnpm-lock.yaml
  examples/tauri-app/src-tauri/Cargo.toml
  examples/tauri-app/src-tauri/gen/schemas/acl-manifests.json
  examples/tauri-app/src-tauri/gen/schemas/desktop-schema.json
  examples/tauri-app/src-tauri/gen/schemas/macOS-schema.json
  examples/tauri-app/src-tauri/src/lib.rs
  examples/tauri-app/src/App.svelte
  guest-js/index.ts
  package.json
  permissions/autogenerated/reference.md
  permissions/default.toml
  permissions/schemas/schema.json
  pnpm-lock.yaml
  src/client.rs
  src/commands.rs
  src/error.rs
  src/lib.rs
  src/models.rs
Due: cargo-fmt, cargo-clippy, cargo-test, guest-js-build

refactor: fix code formatting and clippy warnings
  src/client.rs
  src/commands.rs
  src/models.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: bump tauri-plugin-posthog-api v0.2.0
  package.json
Due: none

fix: sync distinct_id between Rust backend and PostHog JS SDK
  guest-js/index.ts
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, guest-js-build

chore: bump js api version v0.2.1
  package.json
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: resolve async runtime conflict in plugin initialization
  src/commands.rs
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: bump js api v0.2.2
  guest-js/index.ts
  package.json
Due: guest-js-build

fix: simplify plugin initialization by using synchronous client setup
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: simplify async block formatting in plugin setup
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: resolve Tokio runtime conflict with lazy client initialization
  Cargo.toml
  src/client.rs
  src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor: change PostHogClientWrapper to use lazy client initialization with OnceCell
  src/client.rs
Due: cargo-fmt, cargo-clippy, cargo-test
